<!--

  Seccion para Policia

-->
<div *ngIf="usuarioLogeado == 'policia'">

    <!-- Logos -->
    <div class="row" *ngIf="usuarioLogeado == 'policia' && instrucciones">
      <div class="col-md-4 text-left">
        <img src="assets/img/logo1.png" width="350">
      </div>
      <div class="col-md-4 text-center">
        <img src="assets/img/logo2.jpeg" width="350">
      </div>
      <div class="col-md-4 text-right">
        <img src="assets/img/logo3.png" width="350">
      </div>
    </div>
    <!-- Logos -->

    <!-- Pantalla de bienvenida -->
    <div class="card" *ngIf="usuarioLogeado == 'policia' && instrucciones">
        <div class="card-content">
            <div class="card-header">
                <h4>Cuestionario Institucional</h4>
            </div>
            <div class="card-body">

              <p>
                Cumpliendo con el Art. 3 de los Lineamientos Generales de Evaluación del Fondo de Aportaciones para la Seguridad Pública (FASP) se lleva a cabo la siguiente Encuesta Institucional.
                Es importante que recuerdes:
              </p>
                <!-- Instrucciones -->
                <ul class="list-group">
                    <li class="list-group-item">
                        I. Esta aplicación es ANÓNIMA
                    </li>
                    <li class="list-group-item">
                        II. Cualquier duda favor de solicitar apoyo a tu aplicador(a)
                    </li>
                    <li class="list-group-item">
                        III. Contesta todas las preguntas
                    </li>
                    <li class="list-group-item text-center">
                        <button class="btn btn-success" (click)="ComenzarCuestionario()" style="background-color: #1F5247;">Comenzar Cuestionario</button>
                    </li>
                </ul>
                <!-- Instrucciones -->
            </div>
        </div>
    </div>
    <!-- Pantalla de bienvenida -->

    <!-- Contador de Tiempo -->
    <div class="card" *ngIf="usuarioLogeado == 'policia' && contadorActivo">
        <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col text-left">
                        <button class="btn btn-info" (click)="Ajustes(ajustes)">Ajustes</button>&nbsp;
                        <button class="btn btn-info" style="background-color: #1F5247;" (click)="SolicitarAyuda(ayuda)">
              Solicitar Ayuda
            </button>
                    </div>
                    <div class="col text-center">
                        <h3>1. Perfil de Personal Operativo</h3>
                    </div>

                    <div class="col text-right">
                        <h5>Tiempo restante:</h5>
                        <countdown [config]="{leftTime: 5400}"></countdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contador de Tiempo -->

    <!-- Porcentaje -->
    <div class="card" *ngIf="usuarioLogeado == 'policia' && contadorActivo">
        <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-11">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <span>14%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Porcentaje -->

    <!-- Modal de Ajustes -->
    <ng-template #ajustes let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Ajustes</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style="background-color: #1F5247;">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">

            <!-- Cuerpo de Formulario -->
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="form-group row">
                        <label class="col-md-12 col-form-label" for="horizontal-form-6">Tamaño de Letra</label>
                        <div class="col-md-12">
                            <select class="form-control" id="exampleFormControlSelect1" class="form-control square">
                  <option value="12pt">Pequeña</option>
                  <option value="16pt">Normal</option>
                  <option value="20pt">Grande</option>
                </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cuerpo de Formulario -->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="CambiarTamanoLetra()" style="background-color: #1F5247;">Aplicar</button>
        </div>
    </ng-template>
    <!-- Modal de Ajustes -->

    <!-- Modal de Solicitar Ayuda -->
    <ng-template #ayuda let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Solicitud de Ayuda</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style="background-color: #1F5247;">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">

            <!-- Cuerpo de Formulario -->
            <form>
                Se ha solicitado Ayuda, Espere a que el aplicador lo atienda.
            </form>
            <!-- Cuerpo de Formulario -->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" (click)="c('Close click')">Cerrar</button>
        </div>
    </ng-template>
    <!-- Modal de Solicitar Ayuda -->

    <!-- Primera Pregunta -->
    <div class="card" *ngIf="usuarioLogeado == 'policia' && primeraPregunta" id="PrimeraPregunta">
        <div class="card-content">
            <div class="card-body">

                <!-- Cuerpo de pregunta -->
                <table class="table" rules="none">
                    <tbody>
                        <tr>
                            <td colspan="3" title="El puesto en el cual esta contratado actualmente.">
                                1.1 <strong>FUNCIÓN</strong>. ¿Cuál es la función que desempeña actualmente?
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="Cap1Pre1Opc1" name="Cap1Pre1" class="custom-control-input" required>
                                    <label class="custom-control-label" for="Cap1Pre1Opc1">
                          De prevención, reacción o de investigación en la Institución Policial <strong>(Policía Estatal)</strong>
                      </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="Cap1Pre1Opc2" name="Cap1Pre1" class="custom-control-input" required>
                                    <label class="custom-control-label" for="Cap1Pre1Opc2">
                          De investigación en la Procuraduría General o Fiscalía <strong>(Policía Ministerial o equivalente)</strong>
                      </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="Cap1Pre1Opc3" name="Cap1Pre1" class="custom-control-input" required>
                                    <label class="custom-control-label" for="Cap1Pre1Opc3">
                          De vigilancia o custodia del Sistema Penitenciario <strong>(Custodio)</strong>
                      </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <button class="btn btn-success" (click)="DobleValidacion() " style="background-color: #1F5247;">Siguiente</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Cuerpo de pregunta -->

            </div>
        </div>
    </div>
    <!-- Primera Pregunta -->

    <!-- Segunda Pregunta -->
    <div class="card" *ngIf="segundaPregunta">
        <div class="card-header">
            <h4 class="card-title">
                <div class="row">
                    <div class="col">
                        1. Perfil de Personal Operativo
                    </div>
                    <div class="text-right">
                        <button class="btn btn-warning" style="background-color: #1F5247;">
              Observación
            </button>
                    </div>
                </div>
            </h4>
        </div>
        <div class="card-content">
            <div class="card-body">

                <!-- Cuerpo de pregunta -->
                <table class="table" rules="none">
                    <tbody>
                        <tr>
                            <td colspan="3" title="El puesto en el cual esta contratado actualmente.">
                                1.2 <strong>SEXO</strong>.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="222" name="2222222" class="custom-control-input">
                                    <label class="custom-control-label" for="Cap1Pre1Opc1">
                          Femenino
                      </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="222" name="2222222" class="custom-control-input">
                                    <label class="custom-control-label" for="Cap1Pre1Opc2">
                          Masculino
                      </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <button class="btn btn-success" (click)="DobleValidacion()" style="background-color: #1F5247;">Siguiente</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Cuerpo de pregunta -->

            </div>
        </div>
    </div>
    <!-- Segunda Pregunta -->

    <!-- Boton de Expulsión de Emergencia jsjs -->
    <div class="row" *ngIf="botonEmergencia">
        <div class="col text-center" (click)="ExpulsionDeEmergencia()">
            <button class="btn btn-danger">Terminar Encuesta</button>
        </div>&nbsp;
        <div class="col text-center" (click)="ExpulsionDeEmergencia2()">
          <button class="btn btn-danger">Salir de Encuesta</button>
        </div>
    </div>
    <!-- Boton de Expulsión de Emergencia jsjs -->

    <!-- Card de Gracias por Responder la encuesta -->
    <div class="card" *ngIf="usuarioLogeado == 'policia' && pantallaAgradecimiento">
        <div class="card-header">
            <h4 class="card-title">
                ¡GRACIAS!
            </h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <!-- Contenido de Card -->
                <h4>
                    Ha concluído la Encuesta Institucional 2021 del Estado de Hidalgo.
                </h4>
                <h5>Muchas gracias por tu participación</h5>
                <!-- Contenido de Card -->

                <div class="col text-center" (click)="ExpulsionDeEmergencia2()">
                  <button class="btn btn-danger">Salir de Encuesta</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Card de Gracias por Responder la encuesta -->

</div>

<!--

  Seccion para Funcionario Estatal

-->
<div *ngIf="usuarioLogeado == 'funcionarioEstatal'">

    <!-- Logos -->
    <div class="row" *ngIf="usuarioLogeado == 'funcionarioEstatal' && instrucciones">
      <div class="col-md-4 text-left">
        <img src="assets/img/logo1.png" width="350">
      </div>
      <div class="col-md-4 text-center">
        <img src="assets/img/logo2.jpeg" width="350">
      </div>
      <div class="col-md-4 text-right">
        <img src="assets/img/logo3.png" width="350">
      </div>
    </div>
    <!-- Logos -->

    <!-- Pantalla de bienvenida -->
    <div class="card" *ngIf="usuarioLogeado == 'funcionarioEstatal' && instrucciones">
        <div class="card-content">
            <div class="card-header">
                <h4>Cuestionario Integral</h4>
            </div>
            <div class="card-body">

                <p>
                  Cumpliendo con el Art. 3 de los Lineamientos Generales de Evaluación del Fondo de Aportaciones para la Seguridad Pública (FASP) se lleva a cabo la siguiente Encuesta Institucional.
                  Es importante que recuerdes:
                </p>

                <!-- Instrucciones -->
                <ul class="list-group">
                    <li class="list-group-item">
                      De ser necesario se deberán subir los documentos que sean necesarios para acreditar la información
                    </li>
                    <li class="list-group-item">
                      Contesta todas las preguntas
                    </li>
                    <li class="list-group-item">
                      Cualquier duda favor de solicitar apoyo a tu enlace externo
                    </li>
                    <li class="list-group-item">
                      Cumple con los tiempos estipulados
                    </li>
                    <li class="list-group-item text-center">
                        <button class="btn btn-success" (click)="ComenzarCuestionarioIntegral()" style="background-color: #1F5247;">Comenzar Cuestionario</button>
                    </li>
                </ul>
                <!-- Instrucciones -->
            </div>
        </div>
    </div>
    <!-- Pantalla de bienvenida -->

    <!-- Modal Solicitar Observacion -->
    <ng-template #customContent let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Solicitar Chat</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style="background-color: #1F5247;">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">

            <!-- Cuerpo de Formulario -->
            <form>
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="form-group row">
                            <label class="col-md-12 col-form-label" for="horizontal-form-6">Asunto</label>
                            <div class="col-md-12">
                                <select class="form-control" id="exampleFormControlSelect1" class="form-control square">
                  <option>Solicitud de Información Adicional</option>
                  <option>Discordancia de Datos</option>
                  <option>Datos no visibles</option>
                  <option>Otro</option>
                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12">
                        <div class="form-group row">
                            <label class="col-md-12 col-form-label" for="horizontal-form-9">Descripción</label>
                            <div class="col-md-12">
                                <textarea id="horizontal-form-12" rows="12" class="form-control square" name="comment3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Cuerpo de Formulario -->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="c('Close click')" style="background-color: #1F5247;">Enviar</button>
        </div>
    </ng-template>
    <!-- Modal Solicitar Observacion -->

    <!-- Titulo de seecion -->
    <h4 *ngIf="usuarioLogeado == 'funcionarioEstatal' && titulo">
        1. Impulso al Modelo Nacional de Policia
    </h4>
    <!-- Titulo de seecion -->

    <!-- Porcentaje -->
    <div class="card" *ngIf="usuarioLogeado == 'funcionarioEstatal' && porcentajeActual">
        <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-11">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <span>14%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Porcentaje -->

    <!-- Primera Pregunta -->
    <div *ngIf="usuarioLogeado == 'funcionarioEstatal' && primeraPregunta">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <div class="row">
                        <div class="col">
                            1.1. Subprograma de Modelo Nacional de Policía
                        </div>
                        <div class="text-right">
                            <button class="btn btn-warning" (click)="openModal(customContent)" style="background-color: #1F5247;">Solicitar Chat</button>&nbsp;
                        </div>
                        <div class="text-right">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-danger" placement="bottom" ngbPopover="Esta pregunta no esta respondida o esta siendo respondida." popoverTitle="Respondiendo Pregunta">
                Respondiendo
                </button>
                                <button type="button" class="btn btn-outline-warning" placement="bottom" ngbPopover="La respuesta ya esta siendo validada por un Evaluador" popoverTitle="En Proceso de Revisión">
                En Revisión
                </button>
                                <button type="button" class="btn btn-outline-success" placement="bottom" ngbPopover="Pregunta ya validada" popoverTitle="Pregunta Validada">
                Validado
                </button>
                            </div>
                        </div>
                    </div>
                </h4>
            </div>
            <div class="card-content">
                <div class="card-body">

                    <!-- Cuerpo de pregunta -->
                    <table class="table" rules="none">
                        <tbody>
                            <tr>
                                <td colspan="3" title="El puesto en el cual esta contratado actualmente.">
                                    a) ¿Cuenta la entidad federativa con Unidad de Investigación dentro de su Secretaría de Seguridad Estatal o equivalente?
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="Cap1Pre1Opc1" name="Cap1Pre1" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="Cap1Pre1Opc1">
                            Sí
                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="Cap1Pre1Opc2" name="Cap1Pre1" class="custom-control-input">
                                        <label class="custom-control-label" for="Cap1Pre1Opc2">
                            No
                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    <button class="btn btn-success" (click)="DobleValidacion()" style="background-color: #1F5247;">Siguiente</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Cuerpo de pregunta -->

                </div>

                <div class="card-footer">
                    <fieldset class="form-group">
                        <label for="inputGroupFile01">Archivo de Evidencia</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Elegir Archivo</label>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <!-- Primera Pregunta -->

    <!-- Boton de Expulsión de Emergencia jsjs -->
    <div class="row" *ngIf="botonEmergencia">
        <div class="col text-center" (click)="ExpulsionDeEmergencia()">
            <button class="btn btn-danger">Terminar Encuesta</button>
        </div>
        <div class="col text-center" (click)="ExpulsionDeEmergencia2()">
          <button class="btn btn-danger">Salir de Encuesta</button>
        </div>
    </div>
    <!-- Boton de Expulsión de Emergencia jsjs -->

    <!-- Card de Gracias por Responder la encuesta -->
    <div class="card" *ngIf="usuarioLogeado == 'funcionarioEstatal' && pantallaAgradecimiento">
        <div class="card-header">
            <h4 class="card-title">
                ¡GRACIAS!
            </h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <!-- Contenido de Card -->
                <h4>
                    Ha concluído la Encuesta Estatal 2021 del Estado de Hidalgo.
                </h4>
                <h5>Muchas gracias por tu participación</h5>
                <!-- Contenido de Card -->
                <div class="col text-center" (click)="ExpulsionDeEmergencia2()">
                  <button class="btn btn-danger">Salir de Encuesta</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Card de Gracias por Responder la encuesta -->
</div>
